// Font weight 900
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-Black.otf');
    font-weight:900;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-BlackItalic.otf');
    font-weight:900;
    font-style: italic;
}
// Font weight 800
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-ExtraBold.otf');
    font-weight:800;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-ExtraBoldItalic.otf');
    font-weight:800;
    font-style: italic;
}
// Font weight 700
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-Bold.otf');
    font-weight:700;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-BoldItalic.otf');
    font-weight:700;
    font-style: italic;
}
// Font weight 600
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-SemiBold.otf');
    font-weight:600;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-SemiBoldItalic.otf');
    font-weight:600;
    font-style: italic;
}
// Font weight 500
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-Medium.otf');
    font-weight:500;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-MediumItalic.otf');
    font-weight:500;
    font-style: italic;
}
// Font weight 400
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-Regular.otf');
    font-weight:400;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-RegularItalic.otf');
    font-weight:400;
    font-style: italic;
}
// Font weight 300
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-Light.otf');
    font-weight:300;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-LightItalic.otf');
    font-weight:300;
    font-style: italic;
}
// Font weight 200
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-ExtraLight.otf');
    font-weight:200;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-ExtraLightItalic.otf');
    font-weight:200;
    font-style: italic;
}
// Font weight 100
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-Thin.otf');
    font-weight:100;
}
@font-face{
    font-family:"Metropolis";
    src: url('../Font/metropolis/Metropolis-ThinItalic.otf');
    font-weight:100;
    font-style: italic;
}
